body {
    font-family: Arial, Helvetica, sans-serif;
}

.oradores {
    display: flex;
    justify-content: center;
}

.orador {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 300px;
    
}

.orador img {
    width: 100%;
    margin-bottom: .5rem;
}

.cont {
    padding: 1rem;
}

.botones {
    margin-bottom: 1rem;
}

.botones a {
    padding: .3rem;
    /* background-color: aqua; */
    border-radius: 5px;
    margin: 0 .2rem;
    text-decoration: none;
    font-size: .8rem;
    font-weight: bold;
}

.btnAmarillo {
    background-color:rgb(254, 193,7);
    color: black;
}

.btnAmarillo:hover {
    animation: flash; 
    animation-duration: .5s; 
}

.btnAzul {
    background-color: rgb(21,161,186);
    color: white;
}

.btnAzul:hover {
    animation: flash; 
    animation-duration: .5s; 
}


.titulo {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.texto {
    font-size: .8rem;
    text-align: justify;
}