.pseudo::first-letter {
    background-color: black;
    color: white;
    font-size: 3rem;
    margin: .3rem;
    
}

.pseudo::first-line {
    color: gray;
}
.pseudo::selection {
    background-color: yellow;
}

.pseudo img {
    float: left;
    margin: 1rem;
}

.cita::after {
    content: "Autor: W. L. Laurwnce";
    background-color: lightblue;
    font-style: italic;
}

.nota::before {
    content: "Leer nota:";
    background-color: red;
    color: white;
}