* {
    margin: 0;
}

.texto {
    border: 1px solid black;
    background-color: lightblue;
    margin: 1rem 6rem 1rem 0rem;
    padding: 0.3rem 4rem 2rem 1rem;
}

.menu {
    background-color: black;
    padding: .5rem;
}

.menu a {
    color: white;
    margin: 0 .5rem ;
    text-decoration: none;
}